div{
    width : 400px;
    margin: 20px auto;
    background-color: #e5e1e173;
    padding: 20px;
    outline: 5px #e5e1e173 solid
}

.b{
    visibility: hidden;
}


.a{
    border-left: 10px red solid;
      
}


.c{
    border-left: 10px green solid;
}