div {
    width: 500px;
    margin:20px auto;
    background-color: blueviolet;
    padding: 20px;
    color:white;
    background-color: rgb(138, 43, 226);
    background-color: #8a2be2;
    background-color: hsl(271 , 76%, 53%);
}
.assign-1-shape-2{
   background-color: rgb(138, 43, 225 ,50%);
}

.assign-1-shape-3{
    background-color: rgb(138, 43, 225 , .1);
}