div{
    background-color: rgb(128, 128, 128 , 20%);
    margin : 20px;
    display: inline-block;
    outline : 5px solid black;
    padding: 60px;
}

.a{
   border: 5px red solid;
}



.b{
    border-top: 5px blue solid;
    border-bottom: 5px blue solid;
    border-left: 5px green solid;
    border-right: 5px green solid;
 }

 


 .c{
    border-top: 5px red dashed;
    border-bottom: 5px blue dashed;
    border-left: 5px yellow dashed;
    border-right: 5px green dashed;
 }
